<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
      Tu t'es inscrit à une formation sur FormYou en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à tes cours, connecte-toi via : .
    </p>
    <p> À très vite sur FormYou!
  </body>
</html>